<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/stylesheets/stars.css">
    <title><%= skatepark.name %></title>
  </head>
  <body>
    <%- include('./partials/navbar.ejs') %>

    <main class="container">
      <%- include('./partials/flash.ejs')  %> 
      <h1>Park Name: <%= skatepark.name %></h1>
      <h2>Located: <%= skatepark.location %></h2>
      <h2>Cost: <%= skatepark.price %></h2>
      <img src="<%= skatepark.imgUrl %>" alt="" />
      <h5>Park Uploaded By: <%= skatepark.author.username  %> </h5>
    </main>

    <% if (currentUser && skatepark.author.equals(currentUser)) {%> 

    <form action="/skateparks/<%= skatepark._id %>/edit">
      <button class="btn btn-info">Edit Park</button>
    </form>

    <form action="/skateparks/<%= skatepark._id %>?_method=DELETE" method="POST">
      <label for="deletePark">Delete Park</label>
      <button class="btn btn-danger" id="deletePark">Delete Park</button>
    </form>

    <% } %> 

    <% if (currentUser) { %> 
    <form action="/skateparks/<%= skatepark._id %>/review">
      <button class="btn btn-info">New Review</button>
    </form>
    <% } %> 

    <div class="container">
      <% for (review of skatepark.reviews) { %> 
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title mb-2 text-muted"><%= review.author.username  %></h5>
            <p class="starability-result" data-rating="<%= review.rating %>">
              Rated: <%= review.rating %>  stars
            </p>
            <p class="card-text"><%= review.review %> </p>
            <% if (currentUser && review.author.equals(currentUser._id)) {%> 
            <form action="/skateparks/<%= skatepark._id %>/review/<%= review._id %>?_method=DELETE" method="POST">
              <button class="btn btn-sm btn-danger">Delete</button>
            </form>
            <% } %>         
          </div>
        </div>
      <% } %> 
    </div>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
