<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/stylesheets/stars.css">
    <title><%= skatepark.name %></title>
  </head>
  <body>
    <%- include('./partials/navbar.ejs') %>

    <main class="container">
      <%- include('./partials/flash.ejs')  %> 
      <h1>Park Name: <%= skatepark.name %></h1>
      <h2>Located: <%= skatepark.location %></h2>
      <h2>Cost: <%= skatepark.price %></h2>

      <div id="skateparkCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <% skatepark.images.forEach((img, i) => {%> 
          <div class="carousel-item active">
            <img src="<%= img.url %>" class="d-block w-100" alt="...">
          </div>
          <% }) %> 

        </div>
        <% if(skatepark.images.length > 1) {%> 
        <button class="carousel-control-prev" type="button" data-bs-target="#skateparkCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#skateparkCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
        <% } %> 
      </div>

      <% for (img of skatepark.images) {%>
        <img src="<%= img.url %>" alt="" srcset="">
        <% } %> 

      <h5>Park Uploaded By: <%= skatepark.author.username  %> </h5>
    </main>

    <% if (currentUser && skatepark.author.equals(currentUser)) {%> 

    <form action="/skateparks/<%= skatepark._id %>/edit">
      <button class="btn btn-info">Edit Park</button>
    </form>

    <form action="/skateparks/<%= skatepark._id %>?_method=DELETE" method="POST">
      <label for="deletePark">Delete Park</label>
      <button class="btn btn-danger" id="deletePark">Delete Park</button>
    </form>

    <% } %> 

    <% if (currentUser) { %> 
    <form action="/skateparks/<%= skatepark._id %>/review">
      <button class="btn btn-info">New Review</button>
    </form>
    <% } %> 

    <div class="container">
      <% for (review of skatepark.reviews) { %> 
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title mb-2 text-muted"><%= review.author.username  %></h5>
            <p class="starability-result" data-rating="<%= review.rating %>">
              Rated: <%= review.rating %>  stars
            </p>
            <p class="card-text"><%= review.review %> </p>
            <% if (currentUser && review.author.equals(currentUser._id)) {%> 
            <form action="/skateparks/<%= skatepark._id %>/review/<%= review._id %>?_method=DELETE" method="POST">
              <button class="btn btn-sm btn-danger">Delete</button>
            </form>
            <% } %>         
          </div>
        </div>
      <% } %> 
    </div>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
