<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs')  %> 
    <title>Edit Park</title>
</head>
<body>
    <!-- NAVBAR -->
    <%- include('./partials/navbar.ejs')  %> 

    <h2>Edit- <%= skatepark.name  %> -Skatepark</h2>
        <!-- Form to add edit park -->
        <div class="container">
            <form action="/skateparks/<%= skatepark._id %>/edit?_method=PATCH" class="row g-3 needs-validation" novalidate method="POST">
                <div class="d-flex flex-column mb-3">
                    <div class="col-md-4">
                        <label for="validationCustom01" class="form-label">Park Name</label>
                        <input type="text" class="form-control" id="validationCustom01" value="<%= skatepark.name %> " required name="name">
                        <div class="valid-feedback">
                          Looks good!
                        </div>
                      </div>
                      <div class="col-md-4">
                        <label for="validationCustom02" class="form-label">Location</label>
                        <input name="location" type="text" class="form-control" id="validationCustom02" value="<%= skatepark.location %> " required>
                        <div class="valid-feedback">
                          Looks good!
                        </div>
                      </div>
                      <div class="col-md-4">
                        <label for="validationCustomUsername" class="form-label">Cost</label>
                        <div class="input-group has-validation">
                          <span class="input-group-text" id="inputGroupPrepend">$</span>
                          <input value="<%= skatepark.price %> " name="price" type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required min="0">
                          <div class="invalid-feedback">
                            Please provide a price.
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                          <label for="validationCustom02" class="form-label">Image Url:</label>
                          <input value="<%= skatepark.imgUrl %> " name="imgUrl" type="text" class="form-control" id="validationCustom02" value="Image URL Here" required>
                          <div class="valid-feedback">
                            Looks good!
                          </div>
                        </div>
                      
                      <div class="col-12">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                          <label class="form-check-label" for="invalidCheck">
                            Agree to terms and conditions
                          </label>
                          <div class="invalid-feedback">
                            You must agree before submitting.
                          </div>
                        </div>
                      </div>
                      <div class="col-12">
                        <button class="btn btn-primary" type="submit">Edit Park</button>
                      </div>
                    </form>
                </div>
    <h1>Edit SkatePark</h1>

    <!-- script required for client side validation  -->
    <%- include('../public/javascripts/validateform.ejs')  %> 
    <%- include('./partials/footer.ejs') %>
</body>
</html>