<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs')  %> 
    <title>New Review</title>
</head>
<body>
    <%- include('./partials/navbar.ejs')  %> 
    <h1>Leave a Review for <%= skatepark.name  %> in <%= skatepark.location %>  </h1>

    <!-- Form to add new park -->
    <div class="container">
        <form action="/skateparks/<%= skatepark._id %>/review" class="row g-3 needs-validation" novalidate method="POST">
            <div class="d-flex flex-column mb-3">

                  <div class="col-md-4">
                    <label for="validationCustom02" class="form-label">Rating:</label>
                    <input name="rating" type="range" class="form-range" id="validationCustom02" required min="1" max="5" step="0.5" >
                    <div class="valid-feedback">
                      Looks good!
                    </div>
                  </div>

                  <div class="col-md-4">
                      <label for="validationCustom02" class="form-label">Review:</label>
                      <textarea name="review" type="text" class="form-control" id="validationCustom02" placeholder="Write Review Here.." required ></textarea>
                      <div class="valid-feedback">
                        Looks good!
                      </div>
                    </div>
                  
                  <div class="col-12">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                      <label class="form-check-label" for="invalidCheck">
                        Agree to terms and conditions
                      </label>
                      <div class="invalid-feedback">
                        You must agree before submitting.
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <button class="btn btn-primary" type="submit">Review Park</button>
                  </div>
                </form>
            </div>
            
    </div>

    <!-- script required for client side validation  -->
    <%- include('../public/javascripts/validateform.ejs')  %> 
    <%- include('./partials/footer.ejs')  %> 
</body>
</html>