<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs')  %> 
    <link rel="stylesheet" href="/stylesheets/stars.css">
    <title>New Review</title>
</head>
<body>
    <%- include('./partials/navbar.ejs')  %> 
    <h1>Leave a Review for <%= skatepark.name  %> in <%= skatepark.location %>  </h1>

    <!-- Form to add new park -->
    <div class="container">
        <form action="/skateparks/<%= skatepark._id %>/review" class="row g-3 needs-validation" novalidate method="POST">
            <div class="d-flex flex-column mb-3">

              <fieldset class="starability-basic">
                <legend>Rating:</legend>
                <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked aria-label="No rating." />
                <input type="radio" id="first-rate1" name="rating" value="1" />
                <label for="first-rate1" title="Terrible">1 star</label>
                <input type="radio" id="first-rate2" name="rating" value="2" />
                <label for="first-rate2" title="Not good">2 stars</label>
                <input type="radio" id="first-rate3" name="rating" value="3" />
                <label for="first-rate3" title="Average">3 stars</label>
                <input type="radio" id="first-rate4" name="rating" value="4" />
                <label for="first-rate4" title="Very good">4 stars</label>
                <input type="radio" id="first-rate5" name="rating" value="5" />
                <label for="first-rate5" title="Amazing">5 stars</label>
              </fieldset>

                  <div class="col-md-4">
                      <label for="validationCustom02" class="form-label">Review:</label>
                      <textarea name="review" type="text" class="form-control" id="validationCustom02" placeholder="Write Review Here.." required ></textarea>
                      <div class="valid-feedback">
                        Looks good!
                      </div>
                    </div>
                  
                  <div class="col-12">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                      <label class="form-check-label" for="invalidCheck">
                        Agree to terms and conditions
                      </label>
                      <div class="invalid-feedback">
                        You must agree before submitting.
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <button class="btn btn-primary" type="submit">Review Park</button>
                  </div>
                </form>
            </div>
            
    </div>

    <!-- script required for client side validation  -->
    <%- include('../public/javascripts/validateform.ejs')  %> 
    <%- include('./partials/footer.ejs')  %> 
</body>
</html>